.header{
    width: 100%;

    background-color: #fff;
    box-shadow: 0px 2px 4px 2px #ccc;

    padding: 1rem 0rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-wrapper{
    width: 48px;

    img {
        max-width: 100%;
        height: auto;
    }
}

.navigation {
    a {
        color: #000;
        font-size: 1rem;

        padding-right: 1rem;

        transition: .3s ease-in-out;
        &:hover{
            color: rgb(25, 118, 210);
        }
    }

    .active {
        color: rgb(25, 118, 210);
    }
}


.mark{
    position: relative;
}

.counter {
    position: absolute;
    top: 45%;
    right: 30%;
    
    z-index: 100;

    font-size: 0.7rem;
    color: #000;

    background-color: #e7e7e7;
    border-radius: 50%;

    width: 16px;
    height: 16px;

    text-align: center;
}